<h1>All Contacts</h1>

<table>
	<tr>
		<th> ID </th>
		<th> First name </th>
		<th> Last name </th>
		<th> Email </th>
		<th> Notes </th>
	</tr>

	<% @@rolodex.contacts.each do |contact| %>
		<tr>
			<td><a href="/contacts/<%= contact.id %>"> <%= contact.id %> </a></td>
			<td> <%= contact.first_name %> </td>
			<td> <%= contact.last_name %> </td>
			<td> <%= contact.email %> </td>
			<td> <%= contact.notes %> </td>
		</tr>
	<% end %>
</table>

